* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei";
}

/* 图标 */
.icon-dingwei::before {
    content: '\e61d';
}

.icon-rili::before {
    content: '\e64a';
}
.icon-daishouhuo::before{
    content: '\e771';
}